CAMPUSLENS_DB_NAME=campuslens
CAMPUSLENS_DB_USERNAME=campuslens
CAMPUSLENS_DB_PASSWORD=campuslens123
CAMPUSLENS_DB_ROOT_PASSWORD=root123456
CAMPUSLENS_DB_PORT=3306

CAMPUSLENS_DATASOURCE_URL=jdbc:mysql://localhost:3306/campuslens?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&useSSL=false
CAMPUSLENS_DATASOURCE_USERNAME=campuslens
CAMPUSLENS_DATASOURCE_PASSWORD=campuslens123

CAMPUSLENS_REDIS_HOST=127.0.0.1
CAMPUSLENS_REDIS_PORT=6379
CAMPUSLENS_SEARCH_QUEUE_CAPACITY=500
CAMPUSLENS_SEARCH_BATCH_SIZE=2
CAMPUSLENS_SEARCH_BATCH_WAIT_MS=100
CAMPUSLENS_SEARCH_LEASE_SECONDS=90
CAMPUSLENS_SEARCH_MAX_ATTEMPTS=3
CAMPUSLENS_SEARCH_WORKER_ENABLED=true
CAMPUSLENS_ALGORITHM_URLS=http://localhost:8000
CAMPUSLENS_ALGORITHM_PYTHON=D:\AnaConda\envs\campuslens-gpu\python.exe
