CAMPUSLENS_DB_NAME=campuslens
CAMPUSLENS_DB_USERNAME=campuslens
CAMPUSLENS_DB_PASSWORD=campuslens123
CAMPUSLENS_DB_ROOT_PASSWORD=root123456
CAMPUSLENS_DB_PORT=3306

CAMPUSLENS_DATASOURCE_URL=jdbc:mysql://localhost:3306/campuslens?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&useSSL=false
CAMPUSLENS_DATASOURCE_USERNAME=campuslens
CAMPUSLENS_DATASOURCE_PASSWORD=campuslens123
