HOST=0.0.0.0
PORT=8000

DATASETS_DIR=../datasets/landmarks
FAISS_INDEX_DIR=./data/faiss_index
FEATURES_CACHE_DIR=./data/features

DINO_MODEL_PATH=./models/dinov2_model.pth
DEVICE=auto
IMAGE_SIZE=518
BATCH_SIZE=32

TOP_K_RESULTS=5
CONFIDENCE_THRESHOLD=0.5

MAX_FILE_SIZE=10485760
